
header {
    text-align: right; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    padding: 10px; 
    background-color: midnightblue; 
    color: white;
}

a:active, a:visited, a {
    color: white;
    text-decoration: none;
}

#content {
    margin: 5em;
}

#content a {
    color: blue;
}

.topicWindow {
    display: none;
}

.topicWindow {
    padding: 2em;
    background-color: white;
    z-index: 1;
    top: 15%;
    left: 50%;
    position: fixed;
    margin-left: -17em; 
    /* margin-left: - the half of width of the box (+ padding)*/
}

.topicWindow label {
    display: block;
    margin: 5px;
}

.topicWindow textarea {
    width: 25em;
    height: 5em;
}

.topicWindow input[type="text"] {
    width: 20em;
}

.topicWindow form {
    width: 30em;
    margin: 0px auto;
    text-align: center;
}

.topicWindow form .Elements {
    margin: 5px auto;
    margin-top: 1em;
    overflow: auto;
    width: 25em; 
    height: 20em;
}

.topicWindow .closeLink {
    float: right;
    color: white;
    background-color: red;
    border-radius: 100%;
    padding: 0.5em;
}

.topicWindow a {
    color: blue;
}

#Layer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.75;
    display: none;
    z-index: 0;
}

.deleteButton {
    color: red;
}