#map_field { 
    display: block;
    height: 2.5em;
    width: 2.5em;
    float: left;
    border: 1px solid black;
    z-index: -99999;
    background-color: greenyellow;
}

#map {
    width: 30em;
    margin: 0 5em;
}

.map_move {
    z-index: -123;
    position: inline-block;
}

.map_info_hide {
    display: none;
}

.map_info_show {
    display: default;
    position: absolute;
    padding: 0.25em;
    border-radius: 5px;
    border: thin solid black;
    z-index: 9999;
    background-color: #161;
    margin: 1em;
}