#map_field { 
    display: block;
    height: 2.5em;
    width: 2.5em;
    float: left;
    border: thin solid black;
    z-index: -99999;
}

#map {
    width: 30em;
    margin: 0 5em;
}

#map_move_left {
    background-color:lime;

}

#map_move_up {
    background-color:red;

}

#map_move_down {
    background-color:white;

}

#map_move_right {
    background-color: blue;

}

.map_move {
    z-index: -123;
}
