#loginpage_registry_button{
    color: #DDEEDD;
    background-color: green;
    padding: 0.3em;
    border-radius: 5px;
    box-shadow: 4px 4px 1px #000;
}

#loginpage_registry_button:hover{
    background-image: linear-gradient(180deg, #161, green);
}
#registry_complete_login_button{
    color: lightblue;
    font-size: larger;
}
#box_msg {
    position: absolute;
    border: thin solid black;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: firebrick;
    top: 1.337em;
    left: 40%;
    min-width: 20%;
    margin: auto;
    opacity: 0.95;
}

#box {
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    box-shadow: 3px 3px 23px black;
    width: 12em;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    -moz-box-shadow: 0.1em 0.1em 0.3em black;
    -webkit-box-shadow: 0.1em 0.1em 0.3em black;
    background-color: #990000;
    color: white;
}

#box h3 {
    margin-top: 0em;
}

#box input {
    margin-bottom: 1.337em;
    width: 92%;
    border-radius: 5px;
    padding: 0.23em;
    font-size: 15px;
}

#box input[type="checkbox"] {
   width: 15px;
}

#box button  {
    background-color: #CCCCCC;
    border-color: #EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-radius: 10px;
    font-size: 0.9em;
    margin-top: 1em;
    padding: 0.15em;
}

.error {
    position: absolute;
    margin-left: 14em;
    margin-top: -2.7em;
    background-color: red;
    padding: 0.3em;
    border: thin solid black;
}