body {
    margin-top: 3em;
    background-color: #CBAE8C;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: firebrick;
    outline: 0;
}

.center {
    text-align: center;
}

.header {
    font-family: 'Fondamento', cursive;
}

#main_content {
    margin-left: 4em;0
}


#top {
    background-color: midnightblue;
    border: thin solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 9px black;
    left: 0;
    line-height: 0.5em;
    min-width: 100%;
    opacity: 0.97;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#top ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

#top ul li a{
    color: white;
}

#left {
    background-color: #CCC;
    border: thin solid #777;
    border-radius: 0 10px 10px 0;
    left: 0;
    min-height: 20em;
    position: fixed;
    top: 6.5em;

}

#left ul li {
    display: block;
    padding: 0.25em;
    padding-left: 0;
}

#left ul {
    padding: 0.5em;
}

#left ul li a img {
    border-radius: 5px;
    height: 40px;
    width: 40px;
}


.info_hide {
    display: none;
}

.info_show {
    display: default;
    position: absolute;
    background-color: #AAA;
    padding: 0.25em;
    border-radius: 5px;
    border: thin solid black;
    left: 3.7em;
    margin-top: -2em;
}

@media only screen and (max-width: 420px){
    #top {
        position: absolute;
        line-height: 1;
    }
    body{
        margin-top: 8em;
    }
}

@media only screen and (max-height: 27em){
    #left{
        position: absolute;
    }
}

