body {
    margin-top: 3em;
    background-color: #CBAE8C;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: firebrick;
}

.center {
    text-align: center;
}

.header {
    font-family: 'Fondamento', cursive;
}

#main_content {
    margin-left: 4em;
}


#top {
    border: thin solid black;
    background-color: midnightblue;
    opacity: 0.97;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0.5em;
    border-radius: 0 0 10px 10px;
}

#top ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

#top ul li a{
    color: white;
}

#left {
    background-color: #CCC;
    position: fixed; 
    left: 0;
    top: 20%;
    min-height: 50%;
    border-radius: 0 10px 10px 0;
    border: thin solid #777;
}

#left ul li {
    display: block;
    padding: 0.25em;
    padding-left: 0;
}

#left ul {
    padding: 0.5em;
}

#left ul li a img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

@media only screen and (max-width: 420px){
    #top {
        position: absolute;
        line-height: 2;
    }
    body{
        margin-top: 8em;
    }
}
